.bold{
  font-weight: bold;
}

.main-page{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
padding-inline: 2%;
padding-block: 2%;
}
@media(max-width:768px){
  .main-page{
    flex-direction: column;
  }
}

.big-card-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 768px;
  gap:5px;
}

.display-none{
  display: none;
}

.transparent{
  display: none !important;
}

.blue-background{
  background: #EDF4FF;
}